html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
}

header {
  padding: 0 1rem !important;
  align-items: normal !important;
  margin-top: 2rem;
  @media screen and (max-width: 791px) {
    margin-top: 1rem;
  }
}

h1 {
  width: 120px;
  margin: 0;
  line-height: 0.8;
  img {
    width: 120px;
  }
}

.slogan {
  position: absolute;
  font-size: 0.75rem;
  width: 638px;
  margin-bottom: 0.5rem;
  left: 140px;
  top: -1.5rem;
  @media screen and (max-width: 791px) {
    position: static;
    width: 100%;
  }
}

.entire-search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 39px;
  width: 638px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin-right: auto;
  box-sizing: content-box;

  .search-input {
    flex: 1;
    display: flex;
    padding: 5px 4px 0 16px;
    padding-left: 20px;

    .input-wrapper {
      display: flex;
      flex: 1;
      flex-wrap: wrap;

      .place-hold {
        color: transparent;
        flex: 100%;
        white-space: pre;
        line-height: 34px;
        height: 34px !important;
      }

      input {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,.87);
        word-wrap: break-word;
        outline: none;
        display: flex;
        flex: 100%;
        -webkit-tap-highlight-color: transparent;
        margin-top: -37px;
        font: 16px Arial, Helvetica, sans-serif;
        line-height: 34px;
        height: 34px !important;
      }
    }
  }

  .search-button {
    border-radius: 0;
    height: 44px;
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0;
    padding-right: 13px;
    font-size: 11px;
    &:focus {
      outline: none;
    }

    .button-figure {
      background: none;
      color: #17a2b8;
      height: 24px;
      width: 24px;
      margin: auto;

      .figure-wrapper {
        display: inline-block;
        fill: currentColor;
        height: 24px;
        line-height: 24px;
        position: relative;
        width: 24px;

        svn {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.se-summary {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-left: calc(120px + 1rem);
  border-bottom: 1px solid #f6f6f6;
  @media screen and (max-width: 911px) {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  span {
    @media screen and (max-width: 700px) {
      display: block;
    }
    margin-right: 0.8em;
    &:last-child {
      margin-right: 0;
    }
  }
  .waiting {
    opacity: 0.25;
  }
}

.main-content {
  padding-bottom: 200px;
  margin-left: 0;
}

h4 {
  padding: 0.5rem 0;
}

.search-results {
  margin-left: 120px;
  @media screen and (max-width: 911px) {
    margin-left: 0;
  }
}

.result-item {
  font-size: 0.7em;
  line-height: 1.3;
  .row {
    border-bottom: 1px dashed #eee;
  }
  &:last-child {
    .row {
      border-bottom: 0;
    }
  }
}

.tags {
  .tag {
    flex-grow: 0;
    margin-bottom: 1rem;
    .close-badge {
      display: none;
    }
  }
  .editing, &.editing {
    .tag {
      &.preserved {
        display: none;
      }
      .count-badge {
        display: none;
      }
      .close-badge {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  .btn {
    white-space: nowrap;
  }
  .add-tag {
    display: flex;
    > .btn {
      flex-grow: 1;
      &:last-of-type {
        display: none;
        margin-left: 1rem;
      }
    }
  }

  + .dapps {
    margin-top: 1rem;
    ul {
      padding: 0;
      list-style-position: inside;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
    &.mobile-tags {
      display: block;
    }
    + .dapps {
      display: none;
    }
  }
}

footer {
  background-color: #000;
  color: #a2a2a2;
  padding: 1rem 0 1rem 120px;
  margin-top: 2rem;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  @media screen and (max-width: 911px) {
    padding-left: 1rem;
  }
  a {
    font-size: 0.8em;
    color: #fff;
    &:hover, &:active, &:focus {
      color: #fff;
    }
  }

  dl {
    margin-right: 3rem;
    &:first-child {
      a:hover {
        text-decoration: none;
      }
    }
  }

  dt {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  .etc-figure {
    width: 20px;
    margin-right: 1rem;
  }
  .ss-figure {
    width: 70px;
  }
}

.toast-wrapper {
  position: absolute;
  top: -1rem;
  right: 1rem;
  z-index: 5;
  .toast-body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .close {
    font-size: 0.75rem;
    font-weight: normal;
  }
}

.mobile-menu {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    z-index: 10;
  }
}

.mobile-back {
  background-color: rgba(0,0,0,0);
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  &.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    + .mobile-side-nav {
      transform: translateX(-300px);
    }
  }
}

.mobile-side-nav {
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  outline: none;
  overflow-y: scroll;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  right: -300px;
  transition: 0.5s;
  width: 300px;
  dt {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
  dd {
    padding: 0.5rem 1rem 0.5rem 2rem;
    margin: 0;
    &.tag {
      margin-bottom: 0;
      &.active {
        background-color: adjust-color(#17a2b8, $alpha: -0.8);
      }
      .badge {
        vertical-align: text-bottom;
      }
    }
    &.a {
      display: flex;
      justify-content: space-around;
    }
  }
}